/* Contenedor principal de la paginacion */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 35px 0 20px;
}

/* Botones Anterior y Siguiente */
.paginationButton {
  padding: 11px 20px;
  border: 1px solid #bfdbfe;
  border-radius: 10px;
  background: white;
  color: #172554;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Efecto cuando pasamos el mouse sobre un boton */
/* :not(:disabled) evita aplicar el efecto a un boton deshabilitado */
.paginationButton:hover:not(:disabled) {
  background: #2563eb;
  color: white;
  border-color: #2563eb;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.25);
}

/* Estilo de un boton cuando esta deshabilitado */
.paginationButton:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}

/* Informacion de la pagina actual */
.pageInfo {
  min-width: 130px;
  text-align: center;
  color: #4b5563;
  font-size: 15px;
}

/* Estilo para el texto que esta dentro de <strong> */
.pageInfo strong {
  color: #172554;
}

/* Adaptacion para pantallas pequeñas */
@media (max-width: 500px) {

  /* Reduce el espacio entre los elementos */
  .pagination {
    gap: 10px;
  }

    /* Hace los botones mas pequeños */
  .paginationButton {
    padding: 10px 14px;
    font-size: 14px;
  }

   /* Ajusta el texto de la pagina */
  .pageInfo {
    min-width: auto;
    font-size: 14px;
  }
}

/*Boton  Ver todas la series*/

/* Contenedor de los resultados de busqueda */
.searchResults {
  text-align: center;
  margin-bottom: 25px;
}

/* Parrafo dentro de los resultados */
.searchResults p {
  margin-bottom: 15px;
  color: #4b5563;
}

/* Texto marcado con <strong> */
.searchResults strong {
  color: #172554;
}

/* Boton "Ver todas las series" */
.showAllButton {
  padding: 11px 20px;
  border: 1px solid #2563eb;
  border-radius: 10px;
  background: white;
  color: #2563eb;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Efecto al pasar el mouse sobre "Ver todas las series" */
.showAllButton:hover {
  background: #2563eb;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.25);
}

/* Efecto mientras se presiona el botón */
.showAllButton:active {
  transform: translateY(0);
}